{% extends 'base.html' %}
{% load humanize static %}

{% block page_title %}{{ block.super }} / Consumers{% endblock page_title %}

{% block content %}
<div id="payment">
	<h1>Making payment</h1>
	<form action="{% url 'payment-index' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="{{ field.field.widget.attrs.class}}">
            <b style="color:red;">{{field.errors}}</b>
            {{ field.label }}{% if field.help_text != "" %} ({{ field.help_text}}) {%endif%}:<br>
            {{ field }}
            </div>
        {% endfor %}
        <br>
        <input type="submit" value="Make payment"" />

    </form>
</div>
{% endblock content %}



{% block extrajs %}
{% comment %}
	<script type="text/javascript" src="{% static 'payment/js/payment.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endcomment %}
{% endblock extrajs %}


{% block extracss %}
		<link href="{% static 'payment/css/payment.css' %}" rel="stylesheet">
{% endblock extracss %}
