{% extends 'base.html' %}
{% load humanize static %}

{% block page_title %}{{ block.super }} / Consumers{% endblock page_title %}

{% block content %}
<div id="transactions">
	<h1>Transactions</h1>
	<h3> Our account: {% with transactions|first as first_doc %}{{ first_doc.id }}{% endwith %} </h3>
    <h3> List of transactions: </h3>
    <table style="width:100%">
      <tr>
        <th>account_id</th>
        <th>Number of transactions</th> 
        <th>Challenge type</th>
      </tr>
        {% for t in transactions %}
            <tr>
              <td>{{t.id}}</td>
              <td>{{t.nrTrans}}</td> 
              <td>{{t.challenge_type}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}



{% block extrajs %}
{% comment %}
	<script type="text/javascript" src="{% static 'transactions/js/transactions.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endcomment %}
{% endblock extrajs %}


{% block extracss %}
		<link href="{% static 'transactions/css/transactions.css' %}" rel="stylesheet">
{% endblock extracss %}
