.accounts #consumer-list  {
	margin-top: 20px;
}

#accounts .btn-group.filter-enabled {
	margin-left: 10px;
}

#accounts .btn-group-vertical.filter-enabled,
#accounts .btn-group-vertical.filter-apptype {
	margin-top: 10px;
}

#accounts-detail div {
	margin: 10px 0;
}
